*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    padding-top: 100px;
    background-color: #5dd2e93d;
}

header{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img{
    height: 70px;
    margin-right: 18px;
}

header h1{
    font-size: 55px;
    font-weight: bold;
    font-family: 'Rock Salt', cursive;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 56px; 
}

form input{
    font-size: 24px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid #000;
    padding: 8px;
    border-radius: 5px;
    margin-right: 20px;
}

form button {
    background-color: #0f006e;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 15px;
}

table{
    width: 100%;
    background-color: #ffffffd4;
    border-radius: 15px;
}

table th{
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td{
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

table td img{
    height: 40px;
}

.resultado{
    padding: 8px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border-radius: 3px;
}
